In [1]:
# length of the given string
a="srinu"
print(len(a))

5

In [2]:
a[2:4]

'in'

In [3]:
a[1:5]

'rinu'

In [4]:
# dynamic values addition
a=11
b=22
c=a+b
print(c)

33

In [6]:
a=int(input("enter a value"))
b=int(input("enter b value"))
c=a+b
print("addition of two numbers a&b is:",c)

enter a value11
enter b value22
addition of two numbers a&b is: 33

In [7]:
a= int(input("enter a value"))
b= int(input("enter b value"))
c=a-b
print(c)

enter a value11
enter b value22
-11

In [8]:
a=int(input("enter a value"))
b=int(input("enter b value"))
c=a*b
print(c)

enter a value11
enter b value22
242

In [9]:
a=int(input("enter a value"))
b=int(input("enter b value"))
c=a/b
print(c)

enter a value11
enter b value22
0.5

In [19]:
# how to print the multiplication table in python
  n=12
for i in range(1,11):
print (n,'*',i,'=',n*i)

IndentationError: unexpected indent (Temp/ipykernel_13228/2300886281.py, line 2)

# this is a comment
## this is a comment
### this is a comment
#### this is a comment
##### this is a comment

# Python Operators

# Operators are used to perform operations on varibles and values

## Arthimetic operators

## Assignment operators

## Comparision operators

## Logical operators

## bitwise operators

In [1]:
print(10+5)

15

In [2]:
print(10-5)

5

In [3]:
print(10**5)

100000

In [4]:
print(10/5)

2.0

In [ ]:
# Assignment Operators

In [7]:
x=10
y=10
if(x==y):
   print("yes")
else:
    print("no")

yes

In [8]:
x=10
y=20
if(x==y):
    print("yes")
else:
    print("no")

no

In [9]:
x=4
x*=5
print(x)

20

In [10]:
x=4
x/=5
print(x)

0.8

In [11]:
x=5
x//3
print(x)

5

In [ ]:
# comparision operators
== equal to
!= not equal to
> greater than
< lessthan
>= greater than equal to
<= lessthan equal to

In [12]:
x=5
y=3
print(x==y)

False

In [13]:
x=5
y=3
print(x!=y)

True

In [14]:
x=5
y=3
print(x>y)

True

In [15]:
x=5
y=3
print(x<y)

False

In [16]:
x=5
y=3
print(x>=y)

True

In [18]:
x=5
y=3
print(x<=y)

False

In [ ]:
# logical operators
     and
     or
     not

In [22]:
x=5
print(x>4 and x<6)
type(x)

True

int

In [24]:
x=5
print(x>4 or x<6)    
type(x)

True

int

In [25]:
x=5
print(not(x>4 and x<6))
type(x)

False

int

In [ ]:
# bitwise operators
and (&=)
or(|=)

# day 3

# python comment

In [ ]:
types of comment


1.single line comment
2.multi line comment


1. Single line comments
>with the help of singke line comments to display
the title of the page
>a single line comment denoted the symbol as #
syntax:
     # title of the page corresponding to markdown
    formate.
 2 Multi line comments
a multi line comment to display the multiple lines of title to display the markdownformate only.

1st syntax:
     '''----------------------------------------------------------------------------
     ----------------------------------------------------------------------'''

2 nd syntax:
    """-----------------------------------------------------------------------------
    --------------------------------------------------------------------------"""

# Examples of single line comments

# PYTHON DATA TYPES:

# Integer-in()
## >it holdes the integer values

# string-str()

## >it holdes the string values
# float-float()

## >it holdes the floating type of data value

# keywords python

In [7]:
# Keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# bigest of two numbwrs
a=30
b=20
c=a>b
print(c)

In [9]:
a=int(input("enter a value"))
b=int(input("enter b value"))
 if (a>b):
        print("a is greater value=",a)
else:
    print("b is greater value=",b)

IndentationError: unexpected indent (Temp/ipykernel_2252/3048745973.py, line 3)

In [11]:
a=int(input("enter A value "))
b=int(input("enter B value "))
if(a>b):
    print(a,"is greater value ")
else:
    print(b,"is greater value ")

enter A value 20
enter B value 30
30 is greater value

In [12]:
a=20
b=30
if(a>b):
    print(a,"is greater value ")
else:
    print(b,"is greater value")

30 is greater value

In [8]:
a=int(input("enter a number"))
# even-divisible by-2
#2,4,6,8,10,12,14,16
if(n%2==0):
    print("even")
else:
    print("odd")

enter a number12
odd

In [3]:
#convert int to float
a=25
b=float(a)
type(b)
type(a)

int

In [6]:
n=int(input("enter a number"))
if(n%2==0):
    print("given number is even")
else:
    print("given number is not neven")

enter a number245
given number is not neven

In [18]:
#to check given charactr is vowels or consonants
#vowels:a,e,i,o,u.
#consonants: rest all the alphabets
ch=str(input("enter character "))
if(ch=='a' or ch=='e'or ch=='i' or ch=='o' or ch=='u'):
   print(ch,"it is a vowels")
else:
   print(ch,"it is a consonants")

enter character o
o it is a vowels

# Day 4

In [2]:
for i in range(11):
    print(i,end="")

012345678910

In [3]:
# to print the odd numbers from 1 tom 100 by using for loop?
for i in range(101):
    print(i,end="")

0123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100

In [4]:
#Break statement example in python
for i in 'apssdc':
    if i=='s':
        break
    else:
        print(i,end="")

ap

In [5]:
for i in range (0,20,1):
    if i=='19':
        continue
    else:
        print(i,end="")

012345678910111213141516171819

In [21]:
for i in '123456789101112131415161718192':
    if i=='3':
        break
    else:
        print(i,end="")

12

In [ ]:
#swep bteween two numbers

In [ ]:
a=5
b=10

inputs:5'10
output-10,5

temp=a
temp=5
a=b
a=10
b=5

In [22]:
a=5
b=10
temp=a
a=b
b=temp
print(a,b)

10 5

In [24]:
temp=a
#temp=5
a=b
#b=10
b=temp
#b=5
print(a,b)

10 5

In [25]:
a=5
b=10
a,b=(b,a)
print(a,b)

10 5

In [30]:
n= int(input("enter a naturel number size"))
for i in range(1,n+1):
     print(i,end="")

enter a naturel number size40
12345678910111213141516171819202122232425262728293031323334353637383940

In [32]:
n=int (input ("enter anaturel number size "))
for i in range(1,n-1):
    print(i,end="")

enter anaturel number size 40
1234567891011121314151617181920212223242526272829303132333435363738

In [ ]:
# programm to display calendar of the current year and munth

In [40]:
import calendar
year=23
month=2
print(calendar.month(year,month))

    February 23
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28

In [55]:
def add(2,3):
    c=a+b
return c

SyntaxError: invalid syntax (Temp/ipykernel_11956/266435461.py, line 1)

In [ ]:
4 types of functions:
    1.with arguments and with return values
    2.with arguments and with out return values
    3.with out arguments and with return values
    4.with out arguments and with out return values

In [1]:
def function_name(argument_list):
    statements
return value.

SyntaxError: invalid syntax (Temp/ipykernel_2936/1927127787.py, line 3)

In [7]:
n1=int (input("enter n1 value"))
n2=int (input("enter n2 value"))
def add(a,b):
    c=a+b
    return c
add(n1,n2)

enter n1 value10
enter n2 value20

30

In [8]:
def add(a,b):
    c=a+b
    return c
print (add(1,1))

2

In [15]:
n1=int (input("enter n1 value"))
n2=int (input("enter n2 value"))
def sub(a,b):
    c=a-b
    print(c)
sub(n1,n2)

enter n1 value40
enter n2 value33
7

In [16]:
def mult():
    a=10
    b=20
    mult=a*b
    return mult
print("after calling the mult ",mult())

after calling the mult  200

# Day5

# lists

In [ ]:
# alist is a callection of charachters variable and
# number of variablr and  boolen values data types

# tuple 
# it is a colletion of different types of data.
# it is immutable (cant  chenge)
# we can using round brackets() to write a tuple.
# top create an empty tuple
# tuple_name=()

# to create single value
# tuple_name=(values)

In [1]:
#create tuple 
t1=(10,20,30,40)
t1
print(type(t1))

<class 'tuple'>

In [2]:
# single value tuple
t2=(10)
print(type(t2))
t3=(20,)
print(type(t3))

<class 'int'>
<class 'tuple'>

In [3]:
t3

(20,)

In [4]:
t2

10

In [5]:
# how to acces the values from the tuple

t1
print(t1[2])

30

In [6]:
print(t1[0:1])

(10,)

In [7]:
t2=(10,20,10,20,30,20,20,30,10)
# to count the number of ocurences
t2.count(10)

3

In [8]:
t2=(10,20,10,20,30,20,20,30,10,40)
# to count the number of ocurences
t2.count(20)

4

In [9]:
t2=(10,20,10,20,30,20,20,30,10,40)
# to count the number of ocurences
t2.count(30)

2

In [10]:
#index
t2.index(10)

0

In [11]:
t2.index(20)

1

In [12]:
t2.index(30)

4

In [17]:
tuple =("apple","banana","cherry","apple","cherry")
print(tuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
# dictionary :
-it is collection of defferent data types.
-it si group of key and values(key:value)->item
-it dictionary keys are unique
-written in ({})
-each and every item seperated with commas(,)
-acessing dictionnarios values by using key names
it is a mutable (changable)

In [ ]:
to creat empty dictionarry:
    -dictionary_name={}

In [32]:
# to creat a dictionaries with values
d1={'a':10,'b':34,'c':45}
print(d1)
print(type(d1))

{'a': 10, 'b': 34, 'c': 45}
<class 'dict'>

In [2]:
# to creat a dictionaries with different data type..
d2={'a':100,'name':'srinu','branch':'mba','b':45.8}
print(d2)

{'a': 100, 'name': 'srinu', 'branch': 'mba', 'b': 45.8}

In [84]:
print(d2['name'])
print(d2['b'])
print(d2['a'])

NameError: name 'd2' is not defined

In [70]:
print(d2)
d2['branch']='mca'

NameError: name 'd2' is not defined

In [71]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [72]:
#keys
print(d2)
print(d2.keys())

NameError: name 'd2' is not defined

In [73]:
#values
print(d2)
print(d2.values())

NameError: name 'd2' is not defined